@charset "utf-8";
/* CSS Document */
html,body{
	width:100%; height:100%; overflow-x:hidden; margin:0px;
}
a{ text-decoration:none}
.headbar{
	position:fixed; width:100%; height:60px; background-color:rgba(0,0,0,1); left:0px; top:0px; z-index:10000;
	font-family:Georgia, "Times New Roman", Times, serif; font-weight:bolder; font-size:14px; color:#CCC;
	padding-left:50px;
}
.headbar a{
	display:inline-block; width:100px;text-decoration:none; margin-right:5px; margin-top:20px; text-align:center; cursor:pointer;
	color:#CCC
}



.headContent{
	position:fixed; left:0px; right:0px;top:60px;width:100%; text-align:center; overflow:hidden; z-index:100; 
	background-color:#663
}
.headContent2{
	position:relative; left:0px; right:0px;top:60px;width:100%; text-align:center; overflow:hidden; z-index:100; 
	background-color:#663
}
.logodiv{
	margin-top:20px;
}
.logo{
	width:100px; height:100px; border-radius:50px; background-color:#033;
}
.name{
	font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; font-weight:bold; color:#FFF; padding-top:5px;
	display:inline-block;
}
.seximg{
	width:20px; height:20px; display:inline-block; margin-left:8px;
}
.intro{
	margin-top:10px; letter-spacing:2px; word-spacing:2px; line-height:17pt; font:Georgia, "Times New Roman", Times, serif; font-size:12px; font-weight:bold; color:#CCC;
}
.content{
	position:absolute;top:250px;left:25%; right:20%; padding-top:10px; z-index:99;
}
.content2{
	position:absolute;top:250px;left:25%; right:20%; padding-top:10px; z-index:99; text-indent:2em;
}
.listitem{
	position:relative; width:100%; height:50px; font:Georgia, "Times New Roman", Times, serif; font-size:14px; font-weight:800;
	color:#999; vertical-align:central; margin-bottom:5px;
}
.listitem img.tag{
	width:30px; height:30px; border-radius:15px; display:inline-block; margin-right:8px;
}
.listitem a.title{
	text-decoration:none; display:inline-block; position:absolute; left:40px; top:8px;
}
.listitem .date{
	position:absolute; right:75px; top:5px;
}

.listitem .addremove{
	position:absolute; width:65px; height:30px; right:2px; display:inline-block; text-align:center;
}
.addremove a{
	position:relative;cursor:pointer;display:inline-block;
}

.new{
	position:fixed; right:10px; bottom:5px; display:block;
}
.newcontent{
position:absolute;top:250px;left:25%; right:10%; padding-top:10px; z-index:99;
}
#title{
	width:100%; margin-top:5px;position:relative
}
#url{
	width:100%; margin-top:15px;position:relative
}
#url input{
	position:absolute; width:550px; left:50px;
}
#title input{
	position:absolute; width:550px; left:50px;
}
#data{
	width:100%; margin:0px; margin-top:10px;
}
#data textarea{
	position:absolute; left:50px; width:600px; height:300px;
}
#btn{ width:100%; height:30px; margin:0px;}
input[type="button"]{ width:100px; height:20px; margin-top:5px; margin-right:50px}